/*header部分*/
.slick{
	float: left;
	width: 590px;
}
.header{
	/*border: 1px solid red;*/
}
.header_shang{
	height: 111px;
}
.header_shang_1{
	background-color: #f23d9c;
}
.header_shang>img{
	height: 82px;
}
.header_shang_2{
	background-color: #e3e4e6;
	width: 100%;
	height: 36px;
}
.header_zi1{
	margin-left: 220px;
	line-height: 36px;
}
.header_zi2>li{
    line-height: 36px;
    float: left;
    margin-right: 10px;
    padding-right: 3px;
}
.hong1{
    color: red;
}
.hong2{
	color: red;
}
.header_zi2_1>a>i{
	background-image: url(../sprite/sprite9.png);
	width: 10px;
	height: 7px;
	background-position: -94px -54px;
}
.header_zi2_3>a>i{
	background-image: url(../sprite/sprite9.png);
	width: 10px;
	height: 7px;
	background-position: -94px -54px;
}
.header_zi2_4>a>i{
	background-image: url(../sprite/sprite9.png);
	width: 10px;
	height: 7px;
	background-position: -94px -54px;
}
.header_list1{
	position: absolute;
	left: 0px;
	top: 35px;
	width: 250px;
	height: 190px;
	border: 1px solid #999;
	display: none;
	background-color: white;
	text-align: left;
	z-index: 100;
}
.header_list1 a{
	margin-left:20px;
}
.header_list1_zi1{
	border: 1px #eee solid;
}
.header_zi2>li:hover>.header_list2{
	display: block;
}
.header_zi2>li:hover>.header_list2 a{
	color: #999;
}
.header_list2{
	position: absolute;
	left: 0px;
	top: 35px;
	width: 150px;
	height: 90px;
	border: 1px solid #999;
	display: none;
	background-color: white;
	text-align: left;
	z-index: 100;
}
.header_zi2>li:hover>.header_list3{
	display: block;
}
.header_list3{
	position: absolute;
	left: 0px;
	top: 35px;
	width: 150px;
	height: 200px;
	border: 1px solid #999;
	display: none;
	background-color: white;
	text-align: left;
	z-index: 100;
}
.header_list3_zi3{
	border: 1px #eee solid;
}
.header_list3 a{
	margin-left: 5px;
}
.header_zhong{
	height: 150px;
}
.header_zhong_lf{
	width: 190px;
	height: 179px;
	background-color:white;
	margin-top: -66px;
}
.header_zhong_ct{
    width: 680px;
    height: 150px;
    margin-top: 40px;
    margin-left: 320px;
}
.header_zhong .searchtext{
	width: 500px;
	height: 37px;
	border: 1px solid white;
}
.header_zhong .searchbutton{
	width: 50px;
	height: 37px;
	background-color: #ee3233;
	border-width: 0;
	color: white;
	margin-left: -3px;
}
.header_zhong_ct_zi{
	width: 518px;
	height: 27px;
	float: left;
	color: #99999b;
	margin-top: 5px;
}
.header_zhong_ct_zi>li{
	float: left;
	height: 27px;
	padding: 5px;
}
.nz{
	color: red;
}
.header_zhong_ct_xia{
	width: 875px;
	height: 70px;
}
.header_zhong_ct_zi2{
	float: left;
	text-align: center;
	margin-top: 8px;
	margin-left:-100px;
}
.header_zhong_ct_zi2>li{
	float: left;
	height: 27px;
	padding: 10px;
	font-size: 15px;
}
.header_zhong_ct_zi2 a,a visted{
    color: black;
}
.header_zhong_ct_tu{
	float: right;
}
.header_zhong_rf{
	width: 320px;
	height: 129px;
	float: right;
}
.header_zhong_rf_shang{
	float: right;
	width: 318px;
	height: 92px;
}
.header_zhong_rf_zi{
    width: 189px;
    height: 34px;
    background-color:white;
    border: 1px solid #e2e2e2; 
    color:red;
    line-height: 34px;
    font-size: 10px;
    margin-left: 30px;
    margin-top: -150px;
}
.header_zhong_rf_zi>li{
	text-align: center;
	font-size: 13PX;
}
.header_zhong_rf_zi>li>i{
    background-image: url(../sprite/sprite1.png);
	width: 20px;
	height: 20px;
	background-position: 0px 0px;
	margin-right: 10px;
}
.header_zhong_rf_tu{
	width: 68px;
	height: 68px;
	border: 1px solid #d2d0d1;
	float: right;
	margin-top: -65px;
}
.header_zhong_rf_tu>img{
	width: 63px;
	height: 63px;
	margin-left: 2px;
	margin-top: 2px;
}
.header_xia{
	height: 481px;
}
.header_xia_lf{
	width: 190px;
	height: 482px;
	background-color: white;
	margin-top: -35px;
}
.hang{
	color: #999;
	/*margin-top: 8px;*/
	line-height: 23px;
	margin-left: 10px;
	font-size: 13px;
	width: 180px;
	float: left;
}
.hang_list{
	width: 600px;
	height: 350px;
	position: absolute;
	left: 178px;
	top: 0;
	border: 1px solid #999;
	display: none;
	background-color: white;
	text-align: left;
	z-index: 100;
}
.hang_list>a{
	line-height: 25px;
}
.hang li{
	position: relative;
}
.hang>li:hover{
	background-color: #e3e4e6;
}
.hang>li:hover>.hang_list{
	display: block;
}
.header_xia_ct{
	float: left;
    width: 790px;
    height: 482px;
    margin-left: 200px;
    margin-top: -470px;
    /*border: 1px solid red;*/
}
.header_xia_ct_tu{
	width: 590px;
	height: 470px;

}
.header_xia_ct_tu1{
	float: left;
	width: 190px;
	margin-top: -470px;
	margin-left: 600px;
}
.header_xia_rf{
	width: 190px;
	height: 456px;
	background-color: white;
	margin-top: -465px;
}
.header_xia_rf_shang{
	height: 280px;
	border-bottom: 2px solid #eaeaea;
}
.header_xia_rf_shang_1>img{
	border-radius: 50px;
	margin-top: -10px;
	margin-left: 55px;
	width: 69px;
	height: 69px;
}
.header_xia_rf_shang_1>li{
	font-size: 13px;
	text-align: center;
}
.header_xia_rf_shang_1>li .zi{
	float: left;
}
.ts{
	float: left;

}
.zi1{
	width: 70px;
	height: 25px;
	border-radius: 15px;
	background-color: #fefffb;
	color: red;
}
.zi1>li{
	line-height: 23px;
	text-align: center;
	margin-top: 10px;
	margin-left: 20px;
}
.zi2{
	width: 70px;
	height: 25px;
	border-radius: 15px;
	background-color: black;
	color: #bebe8c;
	margin-top: -25px;
	margin-left: 100px;
}
.zi2>li{
	line-height: 23px;
	text-align: center;

}
.jing{
	float: left;
	font-weight: bold;
	font-size: 15px;
	margin-left: 10px;
	margin-top: 15px;
}
.jing a,a visted{
    color: black;
}
.geng a,a visted{
	float: right;
	font-weight: bold;
	font-size: 12px;
	margin-top: 15px;
}

.header_xia_rf_shang_3{
	width: 160px;
	height: 80px;
	margin-top: 80px;
}
.header_xia_rf_shang_3>li{
    text-align: center;
    padding-bottom: 5px;
}
.re1,.re2,.re3,.re4{
	background-color: #e18381;
	border-radius: 3px;
}
.header_xia_rf_bottom>li{
    height: 60px; 
	width:40px;
	text-align: center;
	float: left;
	line-height: 20px;
	padding-right: 5px;
	margin-top: 10px;
}
.header_xia_rf_bottom a,a visted{
	font-size: 13px;
	color: #ccc6b6;
}
.header_xia_rf_bottom_zi{
	margin-top: 5px;
	height: 55px;
} 
.header_xia_rf_bottom_tu{
	width: 170px;
	height: 153px;
	margin:0 auto;
	margin-top: 10px;
}
.header_xia_rf_bottom_tu>li{
	width: 40px;
	height: 55px;
	float: left;
	line-height: 20px;
	text-align:center;
}
.header_xia_bottom_1>a>i{
	width: 24px;
	height: 24px;
	background-position: -145px -42px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_2>a>i{
	width: 24px;
	height: 24px;
	background-position: -29px -42px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_3>a>i{
	width: 24px;
	height: 24px;
	background-position: -174px -42px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_4>a>i{
	width: 24px;
	height: 24px;
	background-position: -87px -42px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_5>a>i{
	width: 24px;
	height: 24px;
	background-position: -116px -42px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_6>a>i{
	width: 24px;
	height: 24px;
	background-position: -116px -71px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_7>a>i{
	width: 24px;
	height: 24px;
	background-position: -58px -42px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_8>a>i{
	width: 24px;
	height: 24px;
	background-position: 0px -71px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_9>a>i{
	width: 24px;
	height: 24px;
	background-position: -29px -71px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_10>a>i{
	width: 24px;
	height: 24px;
	background-position: -58px -71px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_11>a>i{
	width: 24px;
	height: 24px;
	background-position: -87px -71px;
	margin-top:5px;
	margin-left: 5px;
}
.header_xia_bottom_12>a>i{
	width: 24px;
	height: 24px;
	background-position: 0px -42px;
	margin-top:5px;
	margin-left: 5px;
}
/*search部分*/
.search{
	margin-top: 30px;
	/*border: 1px solid red;*/
}
.search_center{
	height: 272px;
	border:1px solid white;
	background-color: white;
}
.search_center_1{
	float: left;
	width: 190px;
	height: 272px;
	background-color: #e83632;
}
.search_center_1>li{
	line-height: 30px;
	text-align: center;
	padding-bottom: 20px;
}
.jing1{
	font-size: 30px;
	color: white;
	margin: 30px auto;
}
.jing2{
	color: #eda6aa;
	font-weight: bold;
	font-size: 20px;
	margin-top: -40px;
}
.search_center_1>li>i{
    background-image: url(../sprite/sprite7.png);
    width: 20px;
    height: 33px;
    background-position: -35px -25px;
}
.jing3{
	color: white;
	font-size: 15px;
}
.con{
	width: 168px;
	height: 50px;
	margin: 8px;
	margin-top: -10px;
}
.hour{
	background-color: black;
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 3px;
	color: white;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: 50px;
}
.hr{
	border: 1px solid red;
	margin-top: -25px;
}
.search_center_2{
	width: 180px;
	height: 276px;
	border-right: 1px solid #f0f0f0;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}
.search_center_2>img{
	margin-left:28px;
	width: 125px;
	height: 140px;
}
.search_center_2>li{
	text-align: center;
	margin-top: 20px;
	line-height: 10px;
}
.kuang{
	float: left;
	font-weight: bold;
    margin-left: 5px;
    margin-top: 20px;
    border:1px solid red;
    width: 162px;
    height: 20px;
}
.sz{
	line-height: 20px;
	font-weight: bold;
	width: 75px;
	height: 20px;
	color: white;
	background-color: red;
	text-align: center;
}
.sz1{
    margin-top:-18px;
    margin-left: 85px;
}
.search_center_3{
	width: 180px;
	height: 276px;
	border-right: 1px solid #f0f0f0;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}
.search_center_3>img{
	margin-left:20px;
}
.search_center_3>li{
	text-align: center;
	margin-top: 20px;
	line-height: 10px;
}
.kuang1{
	float: left;
	font-weight: bold;
    margin-left: 5px;
    margin-top: 20px;
    border:1px solid red;
    width: 162px;
    height: 20px;
}
.sz2{
	line-height: 20px;
	font-weight: bold;
	width: 75px;
	height: 20px;
	color: white;
	background-color: red;
	text-align: center;
}
.sz3{
    margin-top:-18px;
    margin-left: 85px;
}
.search_center_4{
	width: 180px;
	height: 276px;
	border-right: 1px solid #f0f0f0;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}
.search_center_4>img{
	margin-left:20px;
}
.search_center_4>li{
	text-align: center;
	margin-top: 20px;
	line-height: 10px;
}
.kuang2{
	float: left;
	font-weight: bold;
    margin-left: 5px;
    margin-top: 20px;
    border:1px solid red;
    width: 162px;
    height: 20px;
}
.sz4{
	line-height: 20px;
	font-weight: bold;
	width: 75px;
	height: 20px;
	color: white;
	background-color: red;
	text-align: center;
}
.sz5{
    margin-top:-18px;
    margin-left: 85px;
}
.search_center_5{
	width: 180px;
	height: 276px;
	border-right: 1px solid #f0f0f0;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}
.search_center_5>img{
	margin-left:40px;
	margin-top:20px;
}
.search_center_5>li{
	text-align: center;
	margin-top: 35px;
	line-height: 10px;
}
.kuang3{
	float: left;
	font-weight: bold;
    margin-left: 5px;
    margin-top: 20px;
    border:1px solid red;
    width: 162px;
    height: 20px;
}
.sz6{
	line-height: 20px;
	font-weight: bold;
	width: 75px;
	height: 20px;
	color: white;
	background-color: red;
	text-align: center;
}
.sz7{
    margin-top:-18px;
    margin-left: 85px;
}
.search_center_6{
	float: left;
	width: 180px;
	height: 276px;
}
.search_center_6_kuang{
	width: 150px;
	height: 250px;
	background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
	margin-top: 10px;
	margin-left:25px;
}
.search_center_6_kuang>img{
	width: 136px;
	height: 182px;
    margin-left:10px;
    margin-top: 25px;
}
/*nav部分*/
.nav{
	margin-top: 30px;
	/*border:1px solid red;*/
}
.nav_shang{
	height: 450px;
}
.nav_shang_left{
	width: 387px;
	float: left;
	height: 450px;
	background-color: white;
	border:1px solid white;
}
.nav_shang_left_1{
	height: 60px;
}
.pai{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.pai2{
	float: right;
	margin-top: -20px;
	margin-right:100px;
	font-size: 15px;
}
.nav_shang_left_2{
	width: 392px;
	height: 32px;
	background-color: #f7f7f7;
}
.nav_shang_left_2>li{
	float: left;
	line-height: 30px;
	padding-right: 30px;
    margin-left:14px;
}
.nav_shang_left_3{
	height: 357px;
	width:346px;
}
.nav_shang_left_3_tu{
	width: 65px;
	height: 357px;
	margin-top: 10px;
}
.nav_shang_left_3_shu{
	width: 40px;
	height: 357px;
	margin-left:130px;
	margin-top: -380px;
}
.nav_shang_left_3_shu>li{
	padding-top: 50px;
}
.shu_1{
	font-size: 40px;
	font-weight: bold;
	color: #ee3b3e;
}
.shu_2{
	font-size: 40px;
	font-weight: bold;
	color: #ef723a;
}
.shu_3{
	font-size: 40px;
	font-weight: bold;
	color: #ffb48b;
}
.nav_shang_left_3_zi{
	width: 230px;
	height: 357px;
	margin-left:170px;
	margin-top: -360px;
}
.nav_shang_left_3_zi>li{
	padding-top: 70px;
}
.nav_shang_center{
	width: 392px;
	height: 450px;
	float: left;
	margin-left:10px;
	background-color: white;
	border:1px solid white;
}
.nav_shang_center_1{
	height: 60px;
}
.nav_shang_center_2>img{
	margin-left: 20px;
}
.nav_shang_center_3{
	margin-left: 35px;
	margin-top: 20px;
}
.nav_shang_center_4_zi{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.nav_shang_center_5{
	width: 348px;
	font-size: 13px;
    margin-top: 20px;
    margin-left: 35px;
}
.nav_shang_right{
	width: 392px;
	float: left;
	height: 450px;
	background-color: white;
	border:1px solid white;
	margin-left: 7px;
}
.nav_shang_right_1{
	height: 60px;
}
.pai{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.pai2{
	float: right;
	margin-top: -20px;
	margin-right:100px;
	font-size: 15px;
}
.nav_shang_right_2{
	width: 350px;
	height: 120px;
	background-color: #f6f6f6;
	margin:0 auto;
}
.jia_zuo{
	float: left;
	border:1px solid white;
	width: 90px;
	height: 90px;
	border-radius: 50px;
	background-color: white;
	margin-top: 15px;
	margin-left: 10px;
}
.jia_zuo>img{
	margin-top: 10px;
	margin-left: 10px;
}
.jia_zh{
	float: left;
	width: 168px;
	height: 78px;
	margin-left: 10px;
	margin-top: 15px;
	line-height: 30px;
}
.jia_zh_1{
	color: red;
	font-weight: bold;
    font-size: 20px;
    margin-left: -5px;
}
.jia_zh_shu_1{
	font-size: 40px;
}
.jia_zh_2{
	font-size: 15px;
}
.jia_zh_3{
	font-size: 15px;
}
.jia_you{
	width: 12px;
	height: 86px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}
.nav_shang_right_3{
	width: 350px;
	height: 120px;
	background-color: #eeeeec;
	margin:0 auto;
}
.jia_zuo1{
	float: left;
	border:1px solid white;
	width: 90px;
	height: 90px;
	border-radius: 55px;
	background-color: white;
	margin-top: 15px;
	margin-left: 10px;
}
.jia_zuo1>img{
	width: 65px;
	height: 65px;
	margin-top: 13px;
	margin-left: 13px;
}
.jia_zh1{
	float: left;
	width: 168px;
	height: 78px;
	margin-left: 10px;
	margin-top: 15px;
	line-height: 30px;
}
.jia_zh1_1{
	color: red;
	font-weight: bold;
    font-size: 20px;
    margin-left: -5px;
}
.jia_zh1_shu_1{
	font-size: 40px;
}
.jia_zh1_2{
	font-size: 15px;
}
.jia_zh1_3{
	font-size: 15px;
}
.jia_you1{
	width: 12px;
	height: 86px;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}
.nav_shang_right_4{
	width: 350px;
	height: 120px;
	background-color: #f6f6f6;
	margin:0 auto;
}
.jia_zuo2{
	float: left;
	border:1px solid white;
	width: 90px;
	height: 90px;
	border-radius: 55px;
	background-color: white;
	margin-top: 15px;
	margin-left: 10px;
}
.jia_zuo2>img{
	width: 65px;
	height: 65px;
	margin-top: 15px;
	margin-left: 15px;
}
.jia_zh2{
	float: left;
	width: 168px;
	height: 78px;
	margin-left: 10px;
	margin-top: 15px;
	line-height: 30px;
}
.jia_zh2_1{
	color: red;
	font-weight: bold;
    font-size: 20px;
    margin-left: -5px;
}
.jia_zh2_shu_1{
	font-size: 40px;
}
.jia_zh2_2{
	font-size: 15px;
}
.jia_zh2_3{
	font-size: 15px;
}
.jia_you2{
	width: 12px;
	height: 86px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}
.nav_xia{
	margin-top: 25px;
	height: 450px;
}
.nav_xia_left{
    width: 387px;
	float: left;
	height: 450px;
	background-color: white;
	border:1px solid white;
}
.mi{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.mi2{
	float: right;
	margin-top: -20px;
	margin-right:160px;
	font-size: 15px;
}
.nav_xia_left_2>img{
	margin-top: 15px;
	margin-left: 20px;
}
.nav_xia_left_3{
	text-align: center;
	margin-top: 20px;
}
.nav_xia_left_3>li{
	font-size: 16px;
}
.nav_xia_left_4{
	width: 324px;
	text-align: center;
	margin-top: 15px;
	margin-left: 23px;
}
.nav_xia_left_4>li{
	font-size: 14px;
}
.nav_xia_center{
    width: 387px;
	float: left;
	height: 450px;
	background-color: white;
	border:1px solid white;
	margin-left:10px;
}
.mi3{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.mi4{
	float: right;
	margin-top: -20px;
	margin-right:80px;
	font-size: 15px;
}
.nav_xia_center_2{
	float: left;
	width: 150px;
	height: 70px;
	margin-left: 35px;
	margin-top: 40px;
}
.nav_xia_center_2_zi{
	color: #398f8c;
	font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}
.nav_xia_center_2_zi1{
	font-weight: bold;
	margin-left: -15px;
    margin-top: 5px;
}
.nav_xia_center_3{
	float: left;
	width: 150px;
	height: 70px;
	margin-left: 35px;
	margin-top: 40px;
}
.nav_xia_center_3_zi{
	color: #398f8c;
	font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.nav_xia_center_3_zi1{
	font-weight: bold;
	margin-left: -15px;
    margin-top: 5px;
}
.nav_xia_center_4{
	float: left;
	width: 150px;
	height: 70px;
	margin-left: 35px;
	margin-top: 100px;
}
.nav_xia_center_4_zi{
	color: #398f8c;
	font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.nav_xia_center_4_zi1{
	font-weight: bold;
	margin-left: -15px;
    margin-top: 5px;
}
.nav_xia_center_5{
	float: left;
	width: 150px;
	height: 70px;
	margin-left: 35px;
	margin-top: 100px;
}
.nav_xia_center_5_zi{
	color: #398f8c;
	font-weight: bold;
    margin-left: -5px;
    margin-top: 10px;
}
.nav_xia_center_5_zi1{
	font-weight: bold;
	margin-left: -15px;
    margin-top: 5px;
}
.nav_xia_right{
    width: 387px;
	float: left;
	height: 450px;
	background-color: white;
	border:1px solid white;
	margin-left:10px;
}
.mi5{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.mi6{
	float: right;
	margin-top: -20px;
	margin-right:100px;
	font-size: 15px;
}
.nav_xia_right_2>img{
	margin-left: 20px;
}
.nav_xia_right_3{
	margin-left: 30px;
	margin-top: 20px;
}
.nav_xia_right_3>img{
	float: left;
}
/*content部分*/
.content{
	margin-top: 40px;
	/*border: 1px solid red;*/
	/*height: 1520px;*/
}
.content_top{
	margin-top: 40px;
}
.content_top_1{
	text-align: center;
	font-size: 30px;
}
.content_top_xia{
	margin-top: 35px;
	height: 453px;
}
.content_top_xia_left{
	float: left;
	width: 390px;
	background-color: white;
	height: 453px;
}
.yun{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.yun1{
	float: right;
	margin-top: -20px;
	margin-right:100px;
	font-size: 15px;
}
.content_top_xia_left_2>img{
	width: 350px;
	height: 180px;
    margin-top: 13px;
	margin-left: 20px;
}
.content_top_xia_left_3>img{
	float: left;
	width: 170px;
	height: 180px;
	margin-top: 13px;
	margin-left: 16px;
}
.content_top_xia_center{
	float: left;
	width: 390px;
	background-color: white;
	height: 453px;
	margin-left: 10px;
}
.yun2{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.yun3{
	float: right;
	margin-top: -20px;
	margin-right:100px;
	font-size: 15px;
}
.content_top_xia_center_2>img{
	width: 350px;
	height: 180px;
    margin-top: 13px;
	margin-left: 20px;
}
.content_top_xia_center_3>img{
	float: left;
	width: 170px;
	height: 180px;
	margin-top: 13px;
	margin-left: 16px;
}
.content_top_xia_right{
	float: left;
	width: 349px;
	height: 430px;
	margin-left: 45px;
	margin-top: 15px;
	border:5px solid black;
}
.content_top_xia_right>img{
	width: 340px;
	height: 420px;
	margin-top: -20px;
	margin-left:-20px;
}
.content_zh{
	margin-top: 30px;
}
.content_zh_left{
	float: left;
	border:5px solid black;
	width: 349px;
	height: 430px;
}
.content_zh_left>img{
	width: 340px;
	height: 420px;
	margin-top: -20px;
	margin-left: 35px;
}
.content_zh_center{
	float: left;
	width: 390px;
	height: 450px;
	background-color: white;
	margin-top: -11px;
	margin-left: 40px;
}
.ji{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.ji1{
	float: right;
	margin-top: -20px;
	margin-right:200px;
	font-size: 15px;
}
.content_zh_center_2{
	width: 320px;
	height: 160px;
	border-bottom: 1px solid #f2f2f2;
	margin-top: 35px;
	margin-left: 40px;
}
.content_zh_center_2>img{
    float: left;
    padding-right: 30px;
}
.ji2{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.ji3{
	float: right;
	margin-top: -20px;
	margin-right:200px;
	font-size: 15px;
}
.content_zh_center_4{
	width: 320px;
	height: 160px;
	margin-top: 35px;
	margin-left: 40px;
}
.content_zh_center_4>img{
    float: left;
    padding-right: 30px;
}
.content_zh_right{
	float: left;
	width: 390px;
	height: 450px;
	background-color: white;
	margin-top: -10px;
	margin-left: 15px;
}
.ji4{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.ji5{
	float: right;
	margin-top: -20px;
	margin-right:100px;
	font-size: 15px;
}
.content_zh_right_2{
	width: 350px;
	height: 180px;
	margin:0 auto;
	margin-top: 20px;
}
.content_zh_right_2_zuo{
	float: left;
	width: 115px;
	height: 180px;
	background-color: #aeb7c8;
}
.content_zh_right_2_you{
	float: left;
	width: 235px;
	height: 180px;
	background-color: #e3e6ed;
}
.ji6{
	width: 75px;
	color: white;
	font-weight: bold;
    margin:0 auto;
    margin-top: 30px;
	font-size: 15px;
}
.ji7{
	width: 75px;
	color: white;
    margin:0 auto;
    margin-top: 30px;
	font-size: 13px;
}
.content_zh_right_2_you_1{
	float: left;
	width: 95px;
	height: 95px;
	background-color: #f6f6f6;
	border: 2px solid white;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: 30px;
}
.content_zh_right_2_you_2{
	float: left;
	width: 95px;
	height: 95px;
	background-color: #f6f6f6;
	border: 2px solid white;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: 30px;
}
.content_zh_right_3{
	width: 350px;
	height: 180px;
	margin:0 auto;
	margin-top: 20px;
}
.content_zh_right_3_zuo{
	float: left;
	width: 115px;
	height: 180px;
	background-color: #bfb4c5;
}
.content_zh_right_3_you{
	float: left;
	width: 235px;
	height: 180px;
	background-color: #eee8f2;
}
.ji8{
	width: 75px;
	color: white;
	font-weight: bold;
    margin:0 auto;
    margin-top: 30px;
	font-size: 15px;
}
.ji9{
	width: 75px;
	color: white;
    margin:0 auto;
    margin-top: 30px;
	font-size: 13px;
}
.content_zh_right_3_you_1{
	float: left;
	width: 95px;
	height: 95px;
	background-color: #f6f6f6;
	border: 2px solid white;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: 30px;
}
.content_zh_right_3_you_2{
	float: left;
	width: 95px;
	height: 95px;
	background-color: #f6f6f6;
	border: 2px solid white;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: 30px;
}
.content_bottom{
	margin-top: 30px;
}
.content_bottom_left{
	width: 390px;
	height: 450px;
	background-color: white;
	float: left;
	margin-top: 30px;
}
.jd{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.jd1{
	float: right;
	margin-top: -20px;
	margin-right:180px;
	font-size: 15px;
}
.content_bottom_left_2{
	margin-left:20px;
	margin-top: 10px;
}
.content_bottom_left_3{
	margin-left: 30px;
	margin-top: 20px;
}
.content_bottom_left_3>img{
	float: left;
}
.tu{
	margin-top: -10px;
}
.tu1{
	margin-top: -10px;
}
.content_bottom_zh{
	width: 390px;
	height: 450px;
	background-color: white;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
.jd2{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.jd3{
	float: right;
	margin-top: -20px;
	margin-right:150px;
	font-size: 15px;
}
.content_bottom_zh_2{
	margin-left:20px;
	margin-top: 15px;
}
.content_bottom_zh_3{
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}
.content_bottom_right{
	float: left;
	border:5px solid black;
	width: 349px;
	height: 430px;
	margin-left: 45px;
	margin-top: 45px;
}
.content_bottom_zh_right_1>img{
	margin-top: -20px;
	margin-left: -20px;
}
.content_bottom_zh_right_2>img{
	margin-top: 20px;
	margin-left: -20px;
}
/*main部分*/
.main{
    /*border: 1px solid red;*/
    /*height: 1064px;*/
}
.main_top{
	/*margin-top: 40px;*/
	height: 545px;
}
.main_top_1{
	text-align: center;
	font-size: 30px;
	height: 200px;
	line-height: 100px;
}
.main_top_xia{
	/*width: 1190px;*/
	margin-top: 35px;
	height: 453px;
}
.main_top_xia_left{
	float: left;
	width: 390px;
	height: 450px;
	background-color: white;
	margin-top: 100px;
}
.sj{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.sj1{
	float: right;
	margin-top: -20px;
	margin-right:150px;
	font-size: 15px;
}
.main_top_xia_left_2>img{
    margin-left: 15px;
    margin-top: 20px;
}
.main_top_xia_left_3{
    width: 347px;
    height: 180px;
    border: 1px solid #e0e0e0;
    margin:0 auto;
    margin-top: 15px;
}
.main_top_xia_center{
    float: left;
    width: 390px;
	height: 450px;
	background-color: white;
	margin-top: 100px;
	margin-left:10px;
}
.sj2{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.sj3{
	float: right;
	margin-top: -20px;
	margin-right:150px;
	font-size: 15px;
}
.main_top_xia_center_2>img{
	margin-left:20px;
	margin-top: 15px;
}
.main_top_xia_right{
	float: left;
	border:5px solid black;
	width: 349px;
	height: 430px;
	margin-left: 45px;
	margin-top: 110px;
}
.main_top_xia_right_1>img{
	margin-top: -15px;
	margin-left:-20px;
}
.main_bottom_left{
	float: left;
	border:5px solid black;
	width: 349px;
	height: 430px;
	margin-top: 30px;
}
.main_bottom_left_1>img{
	margin-top: -20px;
	margin-left: 35px;
}
.main_bottom_left_2>img{
	margin-top: 20px;
	margin-left: 35px;
}
.main_bottom_center{
	float: left;
    width: 390px;
	height: 450px;
	background-color: white;
	margin-top: 20px;
	margin-left: 40px;
}
.main_bottom_center_1{
	width: 354px;
	height: 223px;
	margin: 0 auto;
	border-bottom: 1px solid #f3f3f3;
}
.sj4{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.sj5{
	float: right;
	margin-top: -20px;
	margin-right:130px;
	font-size: 15px;
}
.main_bottom_center_1>img{
	margin-left:20px;
	margin-top: 20px;
}
.sj6{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.sj7{
	float: right;
	margin-top: -20px;
	margin-right:160px;
	font-size: 15px;
}
.main_bottom_center_2>img{
	margin-left:25px;
	margin-top: 20px;
	padding-right: 10px;
}
.main_bottom_right{
	float: left;
    width: 390px;
	height: 450px;
	background-color: white;
	margin-left: 15px;
	margin-top: 20px;
}
.sj8{
	font-size: 20px;
	margin-left:15px;
	margin-top: 15px;
}
.sj9{
	float: right;
	margin-top: -20px;
	margin-right:120px;
	font-size: 15px;
}
.main_bottom_right_2>img{
	margin-left:25px;
	margin-top: 20px;
}
/*foot部分*/
.foot{
	height: 540px;
	/*border: 1px solid red;*/
	/*margin-top: 40px;*/
}
.foot_top{
	height: 115px;
	border-bottom: 1px solid #dee0dd;
}
.foot_top>li{
	height: 42px;
	margin-top: 40px;
	color: #43455e;
	float: left;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-right: 50px;
	margin-left: 20px;
}
.foot_top_zi1>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 36px;
	height: 42px;
	background-position: 0px -193px;
	padding-left: 5px;
}
.foot_top_zi2>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 36px;
	height: 42px;
	background-position: -41px -193px;
	padding-left: 5px;
}
.foot_top_zi3>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 36px;
	height: 42px;
	background-position: -82px -193px;
	padding-left: 5px;
}
.foot_top_zi4>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 36px;
	height: 42px;
	background-position: -123px -193px;
	padding-left: 5px;
}
.foot_center{
	margin-top:25px;
	height: 200px;
	border-bottom: 1px solid #dee0dd;
}
.foot_center_zi1{
	width: 55px;
	height: 155px;
	float: left;
}
.foot_center_zi1>li{
	line-height: 25px;
	font-size: 13px;
}
.jiazu{
	font-weight: bold;
}
.foot_center_zi2{
	width: 100px;
	height: 155px;
	float: left;
	margin-left: 150px;
}
.foot_center_zi2>li{
	line-height: 25px;
	font-size: 13px;
}
.jiazu1{
	font-weight: bold;
}
.foot_center_zi3{
	width: 55px;
	height: 155px;
	float: left;
	margin-left: 100px;
}
.foot_center_zi3>li{
	line-height: 25px;
	font-size: 13px;
}
.jiazu2{
	font-weight: bold;
}
.foot_center_zi4{
	width: 75px;
	height: 155px;
	float: left;
	margin-left: 100px;
}
.foot_center_zi4>li{
	line-height: 25px;
	font-size: 13px;
}
.jiazu3{
	font-weight: bold;
}
.foot_center_zi5{
	width: 55px;
	height: 155px;
	float: left;
	margin-left: 100px;
}
.foot_center_zi5>li{
	line-height: 25px;
	font-size: 13px;
}
.jiazu4{
	font-weight: bold;
}
.foot_center_zi6{
	width: 190px;
	height: 100px;
	float: left;
	margin-left: 100px;
}
.foot_center_zi6>li{
	line-height: 25px;
	font-size: 13px;
}
.foot_center_zi6>li>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 195px;
	height: 145px;
	background-position: -5px -6px;
	margin-top: -100px;
}
.jiazu5{
	font-weight: bold;
	margin-left: 30px;
}
.jiazu6{
	float: right;
	margin-top: -50px;
}
.foot_bottom{
	height: 200px;
	margin-top: 15px;
}
.foot_bottom1>li{
	float: left;
	margin-left: 13px;
}
.foot_bottom2{
    float: left;
    margin-top:10px;
    width: 1100px;
}
.foot_bottom2_zi>li{
	text-align: center;
}
.foot_bottom2_zi1>li{
	margin-top: 5px;
	text-align: center;
}
.foot_bottom2_zi2>li{
	text-align: center;
	margin-top: 5px;
}
.foot_bottom2_zi3>li{
	text-align: center;
	margin-top: 5px;
}
.zm>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 13px;
	height: 13px;
	background-position: -109px -155px;
}
.zm1>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 15px;
	height: 10px;
	background-position: -128px -155px;
}
.zm2>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 15px;
	height: 10px;
	background-position: -148px -155px;
}
.zm3>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 15px;
	height: 10px;
	background-position: -168px -155px;
}
.zm4>i{
	background-image: url(../sprite/sprite.footer.png);
	width: 13px;
	height: 13px;
	background-position: -108px -172px;
}
.foot_bottom2_zi4>li{
	text-align: center;
	margin-top: 5px;
}
.foot_bottom_xia{
	/*width: 1100px;*/
	margin-top:20px;
	margin-left: 300px;
}
.foot_bottom_xia>li{
	float: left;
	/*margin-left: 200px;*/
}
.foot_bottom_xia_tu>i{
    background-image: url(../sprite/sprite.footer.png);
    width: 103px;
    height: 32px;
    background-position: -205px -111px;
}
.foot_bottom_xia_tu1>i{
    background-image: url(../sprite/sprite.footer.png);
    width: 103px;
    height: 32px;
    background-position: -205px -74px;
}
.foot_bottom_xia_tu2>i{
    background-image: url(../sprite/sprite.footer.png);
    width: 103px;
    height: 32px;
    background-position: -205px -37px;
}
.foot_bottom_xia_tu3>i{
    background-image: url(../sprite/sprite.footer.png);
    width: 103px;
    height: 32px;
    background-position: -205px 0px;
}
.foot_bottom_xia_tu4>i{
    background-image: url(../sprite/sprite.footer.png);
    width: 103px;
    height: 32px;
    background-position: 0px -155px;
}
