*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 12px;
	font-family: '微软雅黑';
	background-color: #f1f3ee;
}
a,a visted{
	color: #99999b;
	text-decoration: none;
}
a:hover{
	color: #cc0d24;
	text-decoration: none;
}
.container{
	width: 1194px;
	margin: 0 auto;
}
.lf{
	float: left;
}
.rf{
	float: right;
}
li{
	list-style:none;
}
input,button{
	outline: none;
}

i{
	background-image: url(../sprite/sprite.service.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.clearfloat:after{
	display: block;
	clear: both;
	content: '';
